name: Test

on:
  push:
    branches:
      - main
  pull_request:

# Cancel the workflow if any new changes pushed to a feature branch or the trunk
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true


jobs:

  build-test:
    name: Build and Test
    runs-on: ubuntu-24.04
    steps:
#      - name: Install Foundry-ZKsync
#        uses: dutterbutter/foundry-zksync-toolchain@v1

#      - name: Check Foundry-ZKsync
#        run: |
#          forge -v
#          ls -la ~/.foundry/bin
      #          uname -a
      #          wget https://github.com/matter-labs/anvil-zksync/releases/download/v0.3.1/anvil-zksync-v0.3.1-x86_64-unknown-linux-gnu.tar.gz
      #          tar xzf anvil-zksync-v0.3.1-x86_64-unknown-linux-gnu.tar.gz
      #          ls -la
      #          file ./anvil-zksync
      #          ldd ./anvil-zksync
      #          ldd --version
      #          ./anvil-zksync --version
      - name: Build
        shell: 'bash -ex {0}'
        env:
          CI: ''
        run: |
          curl -L https://raw.githubusercontent.com/matter-labs/foundry-zksync/main/install-foundry-zksync | bash

          
