name: Test

on:
  push:
    branches:
      - main
  pull_request:

# Cancel the workflow if any new changes pushed to a feature branch or the trunk
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true


jobs:

  build-test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:

      - name: Linux ARM setup
        run: |
          set -x
          ls -l /etc/apt/sources.list
          ls -l /etc/apt/sources.list.d
          cat /etc/apt/sources.list.d/ubuntu.sources
          ls -l /etc/apt/sources.list.d/ubuntu.sources
          echo 'updating'
          sudo echo 'Types: deb
          URIs: http://ports.ubuntu.com/ubuntu-ports/
          Suites: noble noble-updates noble-backports
          Components: main restricted universe multiverse
          Architectures: arm64
          Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg
          Types: deb
          URIs: http://ports.ubuntu.com/ubuntu-ports/
          Suites: noble-security
          Components: main restricted universe multiverse
          Architectures: arm64
          Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg' >> /tmp/ubuntu.sources-none
          cat /tmp/ubuntu.sources-none
          echo '#foo-sources.list' | sudo dd of=/etc/apt/sources.list
          echo '#foo-sources.list.d' | sudo dd of=/etc/apt/sources.list.d/ubuntu.sources-none
          echo '#foosources.list.d-ubuntu' | sudo dd of=/etc/apt/sources.list.d/ubuntu.sources
          echo 'updating2'
          sudo echo 'Types: deb
          URIs: http://ports.ubuntu.com/ubuntu-ports/
          Suites: noble noble-updates noble-backports
          Components: main restricted universe multiverse
          Architectures: arm64
          Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg
          Types: deb
          URIs: http://ports.ubuntu.com/ubuntu-ports/
          Suites: noble-security
          Components: main restricted universe multiverse
          Architectures: arm64
          Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg' | sudo dd of=/etc/apt/sources.list.d/ubuntu.sources
          echo 'check'
          cat /etc/apt/sources.list.d/ubuntu.sources
          sudo dpkg --add-architecture arm64
          sudo apt-get update -y
          sudo apt-get install -y gcc-aarch64-linux-gnu g++-aarch64-linux-gnu libssl-dev:arm64
